<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Entrada del diario</mat-card-title>
    <div style="margin-left: auto;">
      <button type="button" mat-stroked-button color="primary" class="m-r-8"  [routerLink]="['/diario', diario.paciente.id]" class="align-horizontal">
        <i class="bi bi-arrow-left"></i> Volver al diario del paciente
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <!-- Selector de mes -->


    <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title" >Paciente {{ diario.paciente.persona.nombre }} {{ diario.paciente.persona.apellidoPaterno }} {{ diario.paciente.persona.apellidoMaterno }}</h3>
        <p class="card-text">{{ diario.fecha | fechaHora : 'fecha' }}</p>
        <p class="card-text">{{ diario.contenido }}</p>
        <div *ngIf="diario.mediciones && diario.mediciones.length > 0" class="mt-4">
          <h4>Emociones registradas:</h4>
          <ul>
            <li *ngFor="let medicion of diario.mediciones">
              {{ medicion.emocionName }}: Nivel {{ medicion.nivel }}
            </li>
          </ul>
        </div>
        <div *ngIf="!diario.mediciones || diario.mediciones.length === 0" class="mt-4">
          <p>No se han registrado emociones para esta entrada del diario.</p>
        </div>
      </div>
    </div>
  </div>

  </mat-card-content>  
</mat-card>
  