<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Pacientes</mat-card-title>
      <div style="margin-left: auto;">

         
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu" aria-label="Agregar" class="align-horizontal">
          
          <mat-icon>
            <i-tabler name="user-plus" class="icon-20"></i-tabler>
          </mat-icon>
          <span>Agregar</span>
        </button>
</div>
  <mat-menu #menu="matMenu" class="cardWithShadow">
    <button mat-menu-item (click)="nuevoPaciente()">
      <mat-icon>
         <i-tabler name="user" class="icon-20"></i-tabler>
      </mat-icon>
      <span>Registrar</span>
    </button>
    <button mat-menu-item  (click)="vincularPorCodigo()">
      <mat-icon>
         <i-tabler name="link" class="icon-20"></i-tabler>
      </mat-icon>
      <span>Vincular por código
      </span>
    </button>
  </mat-menu>


  </mat-card-header>
  <mat-card-content class="b-t-1" >




  
      <div class="table-responsive">
        <table mat-table [dataSource]="paginatedPacientes" class="w-100">
          <!-- Position Column -->
          <ng-container matColumnDef="assigned">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"
            >
              Nombre
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <img *ngIf="element.foto.length > 0"
                  [src]="element.foto"
                  alt="users"
                  width="60"
                  class="rounded"
                />
                <div class="m-l-10">
                  <span class="text-dark f-w-600">
                    {{ element.nombre + ' ' + element.apellidoPaterno + ' ' + element.apellidoMaterno }}
                  </span>
                </div>
              </div>
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Edad
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <h6 class="mat-body-1 f-s-16 m-b-4">
                <span class="text-dark f-w-600">{{ getAge(element.fechaNacimiento.toString()) }} Años </span>
              </h6>
            </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="priority">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Teléfono
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <h6 class="mat-body-1 f-s-16 m-b-4">
                <span class="text-dark f-w-600">{{ element.telefono }} </span>
              </h6>
            </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="budget">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >Correo Electronico</th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <h6 class="mat-body-1 f-s-16 m-b-4">
                <span class="text-dark f-w-600">{{ element.email }} </span>
              </h6>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"  (click)="seleccionarPaciente(row)"   class="clickable-row"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  