      <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
          <mat-card-title class="m-b-0">Agregar Paciente</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
        <form  [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Nombre "formControlName="nombre"  />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Primer apellido</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" id="ApellidoPaterno"  matInput placeholder="Apellido paterno" formControlName="apellidoPaterno"  class="form-control" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Segundo apellido</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" id="ApellidoMaterno"  matInput placeholder="Apellido materno" formControlName="apellidoMaterno"  class="form-control" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Correo Electrónico</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="email" matInput placeholder="Email" formControlName="email"  class="form-control" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              
            <input
            type="password"
            matInput
            placeholder="password"
            formControlName="password"
          />
            </mat-form-field>
            <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
              <small class="text-danger">La contraseña es requerida y debe tener al menos 8 caracteres</small>
            </div>
        
            <div *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched">
              <small class="text-danger">Las contraseñas no coinciden</small>
            </div>
          </div>
  
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Teléfono</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input
              type="phone"
              matInput
              placeholder="telefono"
              formControlName="telefono"
              class="form-control "
              pattern="^\d{10}$"
            />
            </mat-form-field>
          </div>
  

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Fecha de nacimiento</mat-label>
          <mat-form-field class="form-field">
            <mat-hint>MM/DD/AAAA</mat-hint>
              <input matInput [matDatepicker]="fechaNacimiento" 
              formControlName="fechaNacimiento" required placeholder="Fecha de Nacimiento">
              <mat-datepicker-toggle matIconSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
          <mat-error *ngIf="registerForm.controls['fechaNacimiento'].hasError('required')">
            Fecha de nacimiento obligatoria
          </mat-error>
        </mat-form-field>

          
  
          <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
            <div class="mb-0 me-4" style="color: #6a1b9a;">Genero: </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              formControlName="sexo" type="radio" name="sexo" id="femaleGender" value="female" />
              <label class="form-check-label" for="femaleGender">Femenino</label>
            </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              formControlName="sexo" type="radio" name="sexo" id="maleGender" value="male" />
              <label class="form-check-label" for="maleGender">Masculino</label>
            </div>
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input"
              formControlName="sexo" type="radio" name="sexo" id="otherGender" value="other" />
              <label class="form-check-label" for="otherGender">Otro</label>
            </div>
          </div>
  
          <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
            <div class="mb-0 me-4" style="color: #6a1b9a;">Estado Civil: </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              formControlName="estadoCivil"  type="radio" name="estadoCivil" id="solteroEC" value="female" />
              <label class="form-check-label" for="solteroEC">Soltero</label>
            </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              formControlName="estadoCivil"  type="radio" name="estadoCivil" id="casadoEC" value="male" />
              <label class="form-check-label" for="casadoEC">Casado</label>
            </div>
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input"
              formControlName="estadoCivil"  type="radio" name="estadoCivil" id="separadoEC" value="other" />
              <label class="form-check-label" for="separadoEC">Separado</label>
            </div>
          </div>


          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Direccion</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" matInput id="address" placeholder="Direccion" formControlName="direccion" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Ocupación</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" id="ocupacion" matInput placeholder="Ocupación" formControlName="ocupacion" />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">Notas adicionales</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="text" matInput
              formControlName="notasAdicionales" matInput  placeholder="Notas adicionales"  id="notasAdicionales" class="form-control" />
            </mat-form-field>
          </div>


 
  
  
          <button mat-flat-button color="primary" class="m-r-8" type="submit" >Registrar Paciente</button>
        </form>
      </mat-card-content>
    </mat-card>





