<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Buscar Diario por Mes</mat-card-title>
    <div style="margin-left: auto;">
      <button type="button" mat-stroked-button color="primary" class="m-r-8" (click)="volverALaLista()" class="align-horizontal">
        <i class="bi bi-arrow-left"></i> Volver a los detalles del paciente
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <!-- Selector de mes -->

    <mat-form-field appearance="fill">
      <mat-label>Selecciona un mes</mat-label>
      <input 
        matInput 
        [matDatepicker]="monthPicker" 
        [value]="selectedMonth" 
        placeholder="yyyy-MM" 
        readonly
      >
      <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
      <mat-datepicker 
        #monthPicker 
        startView="multi-year" 
        (monthSelected)="monthSelected($event, monthPicker)" 
        panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>



    

    <div class="row mt-4">
      <div class="col-md-4" *ngFor="let diario of filteredDiarios">
        <div class="card shadow-sm mb-4">
          <div class="card-body text-center">
            <i class="bi bi-journal-text" style="font-size: 2rem; color: #6a0dad;"></i>
            <h5 class="card-title mt-3">{{ diario.paciente.persona.nombre }}</h5>
            <p class="card-text">{{ formatFecha(diario.fecha) }}</p>
            <p class="card-text">{{ diario.contenido }}</p>
            <a (click)="verDetalleDiario(diario.id)" class="btn btn-primary">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
