<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Detalles del Paciente</mat-card-title>

    
    <div style="margin-left: auto;">
      <button type="button" mat-flat-button color="accent" class="m-r-8"  routerLink="/diario/{{paciente?.idPaciente}}" >
        <i class="bi bi-journal-bookmark"></i> Ir al diario
      </button>
      <button type="button" mat-stroked-button color="primary" class="m-r-8"  (click)="volverALaLista()"  class="align-horizontal">
        <i class="bi bi-arrow-left"></i> Volver a la lista de pacientes
      </button>
    </div>

  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <!-- Información del Paciente -->
        <div *ngIf="editMode" class="col-lg-6" >
          <!-- --------------------------------------------------- -->
          <!-- two line -->
          <!-- --------------------------------------------------- -->
          <mat-card class="b-1 shadow-none">
            <mat-card-header>
              <mat-card-title>Editar Paciente {{paciente?.nombre + " " + paciente?.apellidoPaterno}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
          <form (ngSubmit)="guardarCambios()" #pacienteForm="ngForm">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="paciente!.nombre" name="nombre" required/>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput  [(ngModel)]="paciente!.apellidoPaterno" name="apellidoPaterno" required/>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput  [(ngModel)]="paciente!.apellidoMaterno" name="apellidoMaterno" required/>
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [(ngModel)]="paciente!.fechaDisplay" [matDatepicker]="fechaDisplay" name="fechaDisplay" required >
                <mat-datepicker-toggle matIconSuffix [for]="fechaDisplay"></mat-datepicker-toggle>
                <mat-datepicker #fechaDisplay></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input  type="phone" matInput  [(ngModel)]="paciente!.telefono" name="telefono" required/>
          </mat-form-field>
          
          <div class="d-md-flex justify-content-start align-items-center mb-4 py-2"  style=" margin-left: 5px;">
            <div class="mb-0 me-4" style="color: #6a1b9a;">Genero: </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              [(ngModel)]="paciente!.sexo"  type="radio" name="sexo" id="femaleGender" value="female" />
              <label class="form-check-label" for="femaleGender">Femenino</label>
            </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              [(ngModel)]="paciente!.sexo"  type="radio" name="sexo" id="maleGender" value="male" />
              <label class="form-check-label" for="maleGender">Masculino</label>
            </div>
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input"
              [(ngModel)]="paciente!.sexo"  type="radio" name="sexo" id="otherGender" value="other" />
              <label class="form-check-label" for="otherGender">Otro</label>
            </div>
          </div>
  
          <div class="d-md-flex justify-content-start align-items-center mb-4 py-2" style="margin-bottom: 15px !important; margin-left: 5px;">
            <div class="mb-0 me-4" style="color: #6a1b9a;">Estado Civil: </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              [(ngModel)]="paciente!.estadoCivil"  type="radio" name="estadoCivil" id="solteroEC" value="female" />
              <label class="form-check-label" for="solteroEC">Soltero</label>
            </div>
            <div class="form-check form-check-inline mb-0 me-4">
              <input class="form-check-input"
              [(ngModel)]="paciente!.estadoCivil"  type="radio" name="estadoCivil" id="casadoEC" value="male" />
              <label class="form-check-label" for="casadoEC">Casado</label>
            </div>
            <div class="form-check form-check-inline mb-0">
              <input class="form-check-input"
              [(ngModel)]="paciente!.estadoCivil"  type="radio" name="estadoCivil" id="separadoEC" value="other" />
              <label class="form-check-label" for="separadoEC">Separado</label>
            </div>
          </div>
  


          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Ocupacion</mat-label>
            <input matInput type="text" id="ocupacion"  [(ngModel)]="paciente!.ocupacion" name="ocupacion" required>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Notas Adicionales</mat-label>
            <input matInput type="text" id="notasAdicionales"  [(ngModel)]="paciente!.notasAdicionales" name="notasAdicionales" >
          </mat-form-field>
  
  
          <div class="row" style="margin-top: 15px;">
            <div class="col-lg-12" style="text-align: right;">
              <button mat-flat-button color="primary" class="m-r-8" type="submit" >Guardar Cambios</button>
              <button type="button" mat-stroked-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
            </div>
            </div>
  
          </form>
            </mat-card-content>
          </mat-card>
        </div>
        
 



      <div class="col-lg-6" *ngIf="!editMode">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Paciente</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <div class="text-center">
              <img
              *ngIf="!(this.rutaImg.length == 0)"
                [src]="this.rutaImg"
                alt="Foto de perfil"
                width="60%"
                class="profile-img rounded-circle"
              />
              <mat-icon *ngIf="this.rutaImg.length == 0" class="profile-placeholder">person</mat-icon>
            </div>
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Nombre</span>
                <span matListItemLine class="mat-body-1">{{ paciente?.nombre + " " + paciente?.apellidoPaterno + " " + paciente?.apellidoMaterno}}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Edad</span>
                <span matListItemLine class="mat-body-1">{{ paciente?.edad }} Años</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Ocupación</span>
                <span matListItemLine class="mat-body-1">{{ paciente?.ocupacion }}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Teléfono</span>
                <span matListItemLine class="mat-body-1">{{ paciente?.telefono }}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="f-s-16 f-w-600">Fecha de Registro</span>
                <span matListItemLine class="mat-body-1">{{ paciente?.fechaRegistro | date  }}</span>
              </mat-list-item>
            </mat-list>
            <br />
            



            <div class="row" style="margin-top: 15px;">
              <div class="col-lg-12" style="text-align: right;">
                <button mat-flat-button color="primary" class="m-r-8" (click)="activarEdicion()">
                  <i class="bi bi-pencil"></i> Modificar paciente
                </button>
                <button mat-stroked-button color="warn" (click)="eliminarPaciente()">
                  <i class="bi bi-trash"></i> Eliminar paciente
                </button>
              </div>
              </div>



          </mat-card-content>
        </mat-card>
      </div>



      <div class="col-lg-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Citas</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cita of citas">
                  <td>{{ cita.fecha | fechaHora: 'fecha' }}</td>
                  <td>{{ cita.horario | fechaHora: 'hora' }}</td>
                  <td>{{ cita.estatus }}</td>
                  <td>
                    <!-- Puedes agregar botones para modificar y eliminar citas aquí si es necesario -->
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row" style="margin-top: 15px;">
              <div class="col-lg-12" style="text-align: right;">
                <button type="button" mat-flat-button color="accent" class="m-r-8"  routerLink="/citas"  >
                  <i class="bi bi-journal-bookmark"></i> Calendario de Citas
                </button>
              </div>
              </div>


          </mat-card-content>
        </mat-card>
      </div>
  
    </div>
        
  </mat-card-content>
</mat-card>

  