<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Registrar Cita</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="card mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title">Fecha Seleccionada: {{ fecha }}</h5>
        <form [formGroup]="appointmentForm" (ngSubmit)="registerAppointment()">
          <div class="mb-3">


            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">Paciente</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="idPaciente">
                  @for(paciente of pacientes; track paciente.idPaciente) {
                  <mat-option [value]="paciente.idPaciente">{{
                    paciente.nombre
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>




          </div>




          
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Horario</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput  type="time" formControlName="horario" required/>
          </mat-form-field>
        </div>
  
          <!-- Campo oculto para la fecha seleccionada -->
          <input type="hidden" formControlName="fecha">
  
          <button mat-flat-button color="success" class="m-r-8" type="submit" >Registrar Cita</button>
          <button type="button" mat-flat-button color="basic" (click)="goBack()">Volver al Calendario</button>
          <button type="button" class="btn btn-secondary w-100 mt-3" (click)="goBack()">Volver al Calendario</button>
        </form>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
  