<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Registrar Cita</mat-card-title>


    <div style="margin-left: auto;">
      <button type="button" mat-stroked-button color="primary" (click)="goBack()">Volver al Calendario</button>
    </div>


  </mat-card-header>
  <mat-card-content class="b-t-1">
        <p>Fecha Seleccionada: {{ fecha }}</p>
        <form [formGroup]="appointmentForm" (ngSubmit)="registerAppointment()">

<div class="row">
            <div class="col-lg-4">
              <mat-label class="f-w-600 m-b-8 d-block">Paciente</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="idPaciente" required>
                  <mat-option value="" disabled>Selecciona un paciente</mat-option>
                  @for(paciente of pacientes; track paciente.idPaciente) {
                  <mat-option [value]="paciente.idPaciente">{{
                    paciente.nombre + " " + paciente.apellidoPaterno + " " + paciente.apellidoMaterno
                  }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>


</div>
<div class="row">
  <div class="col-lg-4">
  <mat-label class="f-w-600 m-b-8 d-block">Horario</mat-label>
  <mat-form-field  appearance="outline" class="w-100">
    <input matInput [matTimepicker]="horario" formControlName="horario" required placeholder="Selecciona un horario">
    <mat-timepicker-toggle matIconSuffix [for]="horario"></mat-timepicker-toggle>
    <mat-timepicker #horario></mat-timepicker>
  </mat-form-field>
          </div>
  </div>
          <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12"  style="text-align: right;">
          <!-- Campo oculto para la fecha seleccionada -->
          <input type="hidden" formControlName="fecha">
  
          <button mat-flat-button color="primary"  type="submit" style="margin-right: 10px;">Registrar Cita</button> 
        </div>
          </div>
        </form>
    </mat-card-content>
  </mat-card>
  